/*
 * IBM Plex Sans
 * => Title and Body Font
 * => syles: regular, medium, semi-bold, bold
 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/*
 * Sporting Grotesque
 * => Display Font (fancy)
 * => styles: bold only
 */
/* sporting grotesque bold */
@font-face {
  font-family: 'Sporting Grotesque';
  src: url('https://cdn.jsdelivr.net/npm/liist-webcomponents@0.4/src/atoms/fonts/SportingGrotesque-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* sporting grotesque regular */
/* @font-face {
  font-family: 'Sporting Grotesque';
  src: url('https://cdn.jsdelivr.net/npm/liist-webcomponents@0.4/src/atoms/fonts/SportingGrotesque-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

:root {
  --liist-display-font: "Sporting Grotesque", sans-serif;
  --liist-main-font: "IBM Plex Sans", sans-serif;
}

/* TEST */
